{% load static %}
<footer class="footer text-light pb-5" style="background-color: #24589C;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 pt-5">
                <div class="d-flex flex-column">
                    <!-- <div class="mb-3">
                        <img src="{% static 'images/logo.svg' %}" height="61">
                    </div> -->
                    <div class="mb-3">
                        <img src="{% static 'images/geoem.png' %}" height="61">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 pt-5">
                <div class="row">
                    <h4 class="text-white">Información de Contacto</h4>
                    <p class="footer-text">
                        GEOCUBA Estudios Marinos <br>
                        Proyectamos horizontes
                    </p>
                </div>
                <div class="row">
                    <h4 class="text-white">Dirección</h4>
                    <p class="footer-text">
                        Punta Santa Catalina, Regla, La Habana, Cuba
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 pt-5">
                <div class="row">
                    <h4 class="text-white">Teléfonos</h4>
                    <p class="footer-text">
                        (53) 77940409
                        (53) 7978898
                    </p>
                </div>
                <div class="row">
                    <h4 class="text-white">Correo</h4>
                    <p class="footer-text">
                        vallejo@emarinos.geocuba.cu
                        angelr@emarinos.geocuba.cu
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9 offset-md-3">                   
                <span class="text-light">
                    © Copyright 2024. <a class="text-light" target="_blank">Agencia de Investigaciones Marinas,GEOCUBA Estudios Marinos</a> ®. Todos los derechos reservados.
                </span>
            </div>
        </div> 
    </div>
</footer>
