{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div id="toastContainer" class="toast-container top-0 end-0 p-3">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <b>{{ message }}</b>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% else %}
        <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <b>{{ message }}</b>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>¿Olvidó su contraseña?</h1>
            <br>
            <form action="/forgot-password/" method="POST">

                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label class="form-label" for="email">Correo:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="submit">Restablecer contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}